---
import Box from '@components/box.astro'
import Head from '@components/head.astro'
import FriendCard from '@components/linkCard.astro'
import Layout from '@layouts/Root.astro'
import CenterH from '@components/utils/centerH.astro'
import LinksActivity from '@components/linksActivity'

import links from '@data/links.json'
import siteMetadata from '@data/siteMetadata.json'
import { friendsActivityApi } from '@data/config.json'

const friends = links.filter(({ isOneWay }) => !isOneWay)
const oneWay = links.filter(({ isOneWay }) => isOneWay)

const description = links
    .slice(0, 5)
    .map(data => `${data.name} (${data.description})`)
    .join(' | ')
---

<Head>
    <title>链接{' | '}{siteMetadata.title}</title>
    <meta name='description' content={description} />
</Head>
<Layout pagePath='/links'>
    <CenterH className='lg:mt-8'>
        <Box className='xl:w-3xl lg:w-2xl md:w-xl w-full h-80'>
            <LinksActivity apiUrl={friendsActivityApi} client:only='solid' />
        </Box>
    </CenterH>

    <CenterH className='mt-8'>
        <Box className='xl:w-3xl lg:w-2xl md:w-xl w-full'>
            <h2 class="m-[8px_16px_0_16px] text-xl font-bold border-b-2">友人们</h2>
            <div
                class='grid md:grid-cols-2 grid-cols-1 gap-4 p-4'
            >
                {
                    friends.map(node => (
                        <div>
                            <FriendCard data={node} className='h-16' />
                        </div>
                    ))
                }
            </div>
        </Box>
    </CenterH>

    <CenterH className='mt-8 mb-8'>
        <Box className='xl:w-3xl lg:w-2xl md:w-xl w-full'>
            <h2 class="m-[8px_16px_0_16px] text-xl font-bold border-b-2">单向链接</h2>
            <div
                class='grid md:grid-cols-2 grid-cols-1 gap-4 p-4'
            >
                {
                    oneWay.map(node => (
                        <div>
                            <FriendCard data={node} className='h-16' />
                        </div>
                    ))
                }
            </div>
        </Box>
    </CenterH>
</Layout>
