---
import Post from '@layouts/Post.astro'
import Head from '@components/head.astro'
import Layout from '@layouts/Root.astro'
import PostPageHead from '@components/postPageHead.astro'

import siteMetadata from '@data/siteMetadata.json'
import PostService from '@service/postService'

const { slug } = Astro.params
const { title, siteUrl } = siteMetadata

const ps = await PostService.init()
const post = ps.getPost(slug)

export async function getStaticPaths() {
    const ps = await PostService.init()
    const allBlogPosts = ps.getPosts()

    return allBlogPosts
        .map((post) => ({ params: { slug: post.frontmatter.slug } }))
}
---
<Head>
    <title>{post.frontmatter.title} | {title}</title>
    <PostPageHead 
        siteTitle={title}
        siteUrl={siteUrl}
        frontmatter={post.frontmatter}
    />
</Head>
<Layout pagePath='/post'>
    <Post post={post} />
</Layout>