---
import IndexPage from '@layouts/Index.astro'
import Layout from '@layouts/Root.astro'
import Head from '@components/head.astro'
import siteMetadata from '@data/siteMetadata.json'
import config from '@data/config.json'
import PostService from '@service/postService'
import { genPagePaths } from '@utils/astro'

const { tag, index } = Astro.params
const currPage = Number(index)

const ps = await PostService.init()
const posts = ps.getPosts(({ frontmatter }) => frontmatter.tags?.map(v => v.toLowerCase()).includes(tag) || false)

const totalPage = Math.ceil(posts.length / config.itemsPerPage)
const pagePaths = genPagePaths(`/tag/${tag}/`, totalPage)

export async function getStaticPaths() {
    const ps = await PostService.init()
    const tags = ps.getTags()

    return Object.keys(tags)
        .reduce<StaticPath[]>((pre, cur) => {
            const totalPage = Math.ceil(tags[cur] / config.itemsPerPage)

            pre.push(...Array(totalPage)
                .fill(0)
                .map((_, i) => ({ params: {index: i + 1, tag: cur} })))

            return pre
        } , []) 
}

interface StaticPath {
    params: {
        index: number
        tag: string
    }
}
---
<Head>
    <title>标签: {tag} 第 {currPage} 页 {' | '}{siteMetadata.title}</title>
    <meta name="description" content={posts.map(post => post.frontmatter.title).join(' | ').slice(0, 50)} />
</Head>
<Layout pagePath='/'>
    
    <IndexPage 
        title={`标签：${tag}`}
        currPage={currPage} 
        posts={posts}
        pagePaths={pagePaths}
    />
</Layout>