---
import Svg from './svg'
import Link from './link.astro'

/*const Contacts: React.FC<ContactsProps> = ({ contacts }) => {
    return (
        <div className='flex justify-center space-x-4 h-8 w-full'>
            {
                contacts.map((contact) => {
                    return <Contact key={contact.name} {...contact} />
                })
            }
        </div>
    )
}*/

interface Props {
    id: string
    name: string
    url: string
}

const { name, id, url } = Astro.props
const href = url.replace(/\{id\}/, id)
---

<div title={name}>
    <Link href={href} label={name}>
        <Svg
            id={name}
            class='w-6 h-6 text-2xl text-[--contact-icon-color] hover:text-[--contact-hover-icon-color]'
            client:only='solid'
        />
    </Link>
</div>
