---
import Index from '@template/index.astro'
import Head from '@components/head.astro'
import Layout from '@layouts/Layout.astro'

import { getPosts, genPagePaths } from '@utils/index'
import siteMetadata from '@data/siteMetadata.json'
import config from '@data/config.json'

const currPage = Number(Astro.params.index)
const posts = await getPosts()

const totalPage = Math.ceil(posts.length / config.itemsPerPage)
const pagePaths = genPagePaths('/page/', totalPage)
pagePaths[0] = '/'

export async function getStaticPaths() {
    const allBlogPosts = await getPosts()
    const totalPage = Math.ceil(allBlogPosts.length / config.itemsPerPage)

    return Array(totalPage)
        .fill(0)
        .map((_, i) => ({ params: {index: i + 1} }))
}
---
<Head>
    <title>第 {currPage} 页 {' | '}{siteMetadata.title}</title>
    <meta name="description" content={posts.map(post => post.data.title).join(' | ').slice(0, 50)} />
</Head>
<Layout pagePath='/'>
    
    <Index 
        currPage={currPage} 
        posts={posts}
        pagePaths={pagePaths}
    />
</Layout>

