---
import IndexPage from '@template/index.astro'
import Head from '@components/head.astro'
import Layout from '@layouts/Layout.astro'
import siteMetadata from '@data/siteMetadata.json'
import config from '@data/config.json'
import PostService from '@service/postService'
import { genPagePaths } from '@utils/astro'

const currPage = Number(Astro.params.index)

const ps = await PostService.init()
const posts = ps.getPosts()

const totalPage = Math.ceil(posts.length / config.itemsPerPage)
const pagePaths = genPagePaths('/page/', totalPage)
pagePaths[0] = '/'

export async function getStaticPaths() {
    const ps = await PostService.init()
    const posts = ps.getPosts()

    const totalPage = Math.ceil(posts.length / config.itemsPerPage)

    return Array(totalPage)
        .fill(0)
        .map((_, i) => ({ params: {index: i + 1} }))
}
---
<Head>
    <title>第 {currPage} 页 {' | '}{siteMetadata.title}</title>
    <meta name="description" content={
        posts.map(post => post.frontmatter.title).join(' | ').slice(0, 50)} 
    />
</Head>
<Layout pagePath='/'>
    <IndexPage 
        currPage={currPage} 
        posts={posts}
        pagePaths={pagePaths}
    />
</Layout>